extends ../../layout

block content
  #settings.main-content.settings.user-area(role='main')
    .wrapper
      #min-height
        .col-aside
          ul.sub-nav
            include sidebar
        .col-main
          include ../_warnings
          .container
            .con-header
              h1.con-header-title Change Password
            #settings-security.con-body
              form#set-new-pass-form.pure-form.pure-form-aligned(action="/set-new-password", method="post")
                #error-cnt
                #notice-cnt
                .pure-control-group
                  label(for="password").label Current Password:
                  input#password(type="password",placeholder="Current Password", name="password")
                .pure-control-group
                  label(for="set-new-pass").label New Password:
                  input#set-new-pass(type="password",placeholder="New Password", name="new_password")
                .pure-control-group
                  label(for="repeat_new_password").label Repeat Password
                  input#repeat_new_password(type="password",placeholder="Confirm password", name="repeat_new_password")
                fieldset.actions
                  input(type="submit" value="Change Password").btn



          .container
            .con-header
              h1.con-header-title Two-factor authentication
            .con-body
              - if (googleToken)
                p.gauth-status Two-factor authentication is currently enabled.
                #gauth-cnt
                  form#gauth-confirm-disable-form
                    fieldset
                      .input-prepend
                        span.add-on
                          i.icon-lock
                        input(name="gauth_pass", type="text", placeholder="Verification code")
                    fieldset.actions
                      button#qr-disable-bt.btn(type="submit") Disable Google Authenticator
              - else
                p
                  | We offer Google Authenticator as an extra security layer when logging in.
                  | <br /> Enabling two-factor authentication greatly increases the security of your account.
                p.appstore-badges
                  a(href="https://itunes.apple.com/app/google-authenticator/id388497605?mt=8").appstore.appstore-apple
                    | Download on the App Store
                  a(href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2").appstore.appstore-google
                    | Get it on Google Play
                p
                  a(href="https://support.google.com/accounts/answer/1066447?hl=en", target="_blank", rel="_nofollow")
                    | Check here for instructions on how to install Google Authenticator on your device.
                #gauth-cnt.hidden
                  a#gauth-link.qr-code(href="", target="_blank")
                    img#gauth-qr(src="")
                  .gauth-info
                    .key
                      label.gauth-label Your Authentication Key: <span id="gauth-key"></span>
                    form#gauth-confirm-enable-form
                      fieldset
                        label.gauth-label Insert Your Authentication Code:
                        input(name="gauth_pass", type="text", placeholder="Verification code").gauth-input
                      fieldset.actions
                        button.btn(type="submit") Enable Google Authenticator
                a#qr-gen-bt(href="/generate_gauth") Enable Google Authenticator