extends ../../layout

block content
  #settings.main-content.settings.user-area(role='main')
    .wrapper
      #min-height
        .col-aside
          ul.sub-nav
            include sidebar.jade
        .col-main
          include ../_warnings
          #auth-stats.container
            .con-header
              h1.con-header-title Login history
            .table-wrap
              table.trade-data
                tr
                  th Date
                  th IP Address
                - each stat in authStats
                  tr
                    td #{stat.created_at.toFormat("DD/MM/YY HH24:MI")}
                    td #{stat.ip}
                  
