.col-aside
    ul.sub-nav
        li(class=(page=='profile'?'active':'')): a(href='/settings/profile/edit') Profile
        li(class=(page=='account-balance'?'active':'')): a(href='/settings/account-balance') Account Balance
        li(class=(page=='open-orders'?'active':'')): a(href='/settings/open-orders') Open Orders
        li(class=(page=='transactions'?'active':'')): a(href='/settings/transactions') Transactions
        li(class=(page=='verify-account'?'active':'')): a(href='/settings/verify-account') Verify Account
        li(class=(page=='security'?'active':'')): a(href='/settings/security') Security
        li(class=(page=='history'?'active':'')): a(href='/settings/history') History
        li(class=(page=='notifications'?'active':'')): a(href='/settings/notifications') Notifications
        