script(type="text/template", id="transaction-xwbc")
  | <% if (typeof(transaction) !== "xwbc") { %>
  tr(class="<%= transaction.get('category') === 'send' ? 'substract' : 'add' %>", data-id="<%= transaction.id %>")
    td <%= transaction.getCreatedDate() %>
    td <%= transaction.get('category') === 'send' ? 'WITHDRAWAL' : 'DEPOSIT' %>
    td.trade-amount <%= transaction.get('category') === 'receive' ? '+' : '' %><%= _.str.toFixed(transaction.get("amount")) %> <%= transaction.get("currency") %>
    td <%= transaction.getAddress() %>
    td <%= transaction.getTransactionId() %>
  | <% } %>
