script(src='/assets/js/vendor/modernizr-2.7.1.min.js')
script(src='/assets/js/vendor/jquery-1.10.2.js')
script(src='/assets/js/vendor/date.format.js')
script(src='/assets/js/vendor/math.js')
script(src='/assets/js/vendor/underscore.js')
script(src='/assets/js/vendor/underscore.string.js')
script(src='/assets/js/vendor/backbone.js')
script(src='/assets/js/vendor/qrcode.js')
script(src='/assets/js/vendor/ba-tiny-pubsub.js')
script(src='/assets/js/vendor/jquery.validate.js')
script(src='/assets/js/vendor/jquery.tmpload.js')
script(src='/assets/js/vendor/jquery.jgrowl.js')
script(src='/assets/js/vendor/ZeroClipboard.js')
script(src='/assets/js/vendor/highstock.js')
script(src='/assets/js/vendor/highstock.exporting.js')
script(src='/assets/js/vendor/BigInt.js')
script(src='/assets/js/vendor/sha256.js')
script(src='/assets/js/vendor/zxcvbn.js')
script(src='/assets/js/vendor/socket.io.js')
script(src='/assets/js/vendor/mailcheck.js')
script(src='/assets/js/vendor/iban.js')

script(src='/assets/js/app/helpers/crypto_currency.js')

script(src='/assets/js/app/models/user.js')
script(src='/assets/js/app/models/google_auth.js')
script(src='/assets/js/app/models/wallet.js')
script(src='/assets/js/app/models/payment.js')
script(src='/assets/js/app/models/transaction.js')
script(src='/assets/js/app/models/order.js')
script(src='/assets/js/app/models/order_log.js')
script(src='/assets/js/app/models/market_stats.js')
script(src='/assets/js/app/models/bank.js')
script(src='/assets/js/app/models/bank_withdrawal.js')

script(src='/assets/js/app/collections/wallets.js')
script(src='/assets/js/app/collections/transactions.js')
script(src='/assets/js/app/collections/payments.js')
script(src='/assets/js/app/collections/orders.js')
script(src='/assets/js/app/collections/order_logs.js')
script(src='/assets/js/app/collections/trade_stats.js')
script(src='/assets/js/app/collections/bank_withdrawals.js')

script(src='/assets/js/app/views/master.js')
script(src='/assets/js/app/views/finances.js')
script(src='/assets/js/app/views/settings.js')
script(src='/assets/js/app/views/pending_transactions.js')
script(src='/assets/js/app/views/transactions_history.js')
script(src='/assets/js/app/views/payment_history.js')
script(src='/assets/js/app/views/buy.js')
script(src='/assets/js/app/views/trade.js')
script(src='/assets/js/app/views/trade_chart.js')
script(src='/assets/js/app/views/orders.js')
script(src='/assets/js/app/views/order_book.js')
script(src='/assets/js/app/views/order_logs.js')
script(src='/assets/js/app/views/market_ticker.js')
script(src='/assets/js/app/views/notification_settings.js')
script(src='/assets/js/app/views/profile.js')
script(src='/assets/js/app/views/user_bank_edit.js')
script(src='/assets/js/app/views/withdrawals.js')
script(src='/assets/js/app/views/withdrawal.js')
script(src='/assets/js/app/views/confirmation.js')
script(src='/assets/js/app/views/pending_withdrawals.js')

script(src='/assets/js/chat/models/chat_message.js')
script(src='/assets/js/chat/collections/chat_messages.js')
script(src='/assets/js/chat/views/chat.js')

script(src='/assets/js/app/error_logger.js')

script(src='/assets/js/auth_bootstrap.js')
script(src='/assets/js/app_bootstrap.js')
script(src='/assets/js/chat_bootstrap.js')


