extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li: a(href='/legal/terms') Terms of Service
          li.active: a(href='/legal/privacy') Privacy Policy
          li: a(href='/legal/cookie') Cookie Policy
          li: a(href='/legal/aml') AML Policy
      .col-main.content
        h1.page-title Privacy Policy

        p
          | By using the Swypto Exchange and the www.swypto.exchange web site ("Service"), a service distributed by LXCCoin Ltd. ("Swypto"),
          | you are agreeing to be bound by the following privacy policy ("Privacy Policy"). Swypto reserves the right to update and
          | change the Privacy Policy from time to time without notice and changes can be viewed on this page.

        p
          | Swypto and its affiliates (hereinafter, "Swypto", "we", "us" or "our") are committed to protecting and respecting your privacy.
          | This Privacy Policy governs our collection, processing and use of your Personal Information. We define "Personal Information" as
          | information that identifies you personally, e.g. your name, address, e-mail address, trades, banking details, etc.
        

        h2 The purpose of this Privacy Policy is to inform you of:
        ul
          li The kind of Personal Information which we may collect about you and how it may be used;
          li Your use of IP addresses;
          li Any disclosure of Personal Information to third parties;
          li Your ability to correct, update and delete your Personal Information;
          li The security measures we have in place to prevent the loss, misuse, or alteration of Personal Information under our control; and
          li Retention of Personal Information.
        h2 Collection and use of personal information 
        p We may collect your Personal Information if you use the Service, open a Swypto account to use the Service or perform any trades on the Service. The types of Personal Information that we collect may include:
        ul
          li Your name;
          li A photographic id; a government issued ID, national ID card or an EU driving license
          li If a legal entity, relevant documents of incorporation;
          li Your address;
          li E-mail address;
          li Banking details, such as account numbers, bank name and  IBAN/BIC numbers
          li Your date of birth
          li A utility bill or bank statement
        h2 We can use your information for the following purposes:
        ul
          li to comply with anti-money laundering regulation (AML) within different geographical areas
          li
            p
              |  to verify your identity in accordance with the Money Laundering Regulations 2007 and the Swypto Exchange AML policy,
              |  as well as address other law enforcement needs as more fully described in our Terms of Use. With respect to US residents,
              |  we also may share your information with other financial institutions as authorized under Section 314(b) of the US Patriot Act,
              |  and with tax authorities, including the US Internal Revenue Service, pursuant to the Foreign Account Tax Compliance Act ("FATCA"),
              |  to the extent that this statute may be determined to apply to Swypto Exchange.
          li to process transactions;
          li to send you updates and information about Swypto Exchange and products;
          li to improve the website experience;
          li to improve the customer experience; and
          li any other use case that allows us to deliver a great user experience for our customers.

        p
          |Swypto will not share, publish or sell any confidential user data. However, the company might be requested at any time by court, law enforcement,
          |data protection authorities, government officials, and other authorities to share data, including but not restricted to, personal information,
          |emails, user transactions, trade data, etc. We will not deny such requests if reasonable and made through the appropriate channels.

        p
          Please contact us with questions, comments, or concerns regarding our Privacy Policy or practices at #[a(href="mailto:support@swypto.com") support@swypto.com ].

