extends ../../layout

block content
  .main-content(role='main')
    .wrapper
      .one-col.content#min-height
        h1.page-title FAQ
        
        h2 What are LXCCoins?
        p LXCCoins (also referred to as XWBC, short for Worlds Best Coin) is a digital currency, the first fully asset backed coin to be publicly registered on the OTC QB market place, making it the most stable and investment friendly coin in the world.
        
        <br>
        h2 What is Swypto Exchange?
        p www.swypto.exchange is the main market place where both individuals and professionals are able to trade LXCCoins with one another without going through the normal banks, allowing everybody the freedom to buy, sell and trade as they please.
        
        <br>
        h2 Are LXCCoins and trading of LXCCoins legal?
        p Yes, LXCCoins are assets, so trading and owning LXCCoins are fully legal just like any other asset.
        
        <br>
        h2 How do I start using Swypto Exchange?
        p Simply sign up for a free account on www.swypto.exchange. All you need is a valid email address and you are good to go. Once you have created your account you need to place funds into the account by using your credit card or making a bank transfer. Hereafter you can start trading LXCCoins immediately and our trade system will always match you offer automatically with the best open offer in the market.
        
        <br>
        h2 What is the turnover time for transactions on Swypto Exchange?
        p All LXCCoin trades are immediately concluded if there is a matching open offer in the market. The transaction time is currently only 1.5 seconds which is the fastest transacting coin in the world! When buying LXCCoins using your Visa/Mastercard the LXCCoins are also credited your wallet on the Swypto Exchange within seconds. Deposits and Withdrawals from/to your normal bank account may take a couple of days due to the delays in the banking systems worldwide.
        
        <br>
        h2 What are the fees for using the Swypto Exchange? 
        p Swypto Exchange charges a fee of 0.25% on each successful trade of LXCCoins. Withdrawals to bank carry a fee of 0.25% with a min. of 20 USD. Deposits using bank transfer or Visa/Mastercard is free, however international bank fees or card transaction fees may apply depending on the processing bank.
        
        <br>
        h2 How is the price of LXCCoins set?
        p The current price of LXCCoins is equal to the price of the latest matched trade between a buyer and a seller.
        
        <br>
        h2 What can I trade on Swypto Exchange?
        p On the Swypto Exchange it is possible to trade LXCCoins (XWBC) on the following order books: XWBC/USD, XWBC/GBP and XWBC/BTC.
        


