extends ../../layout

block content
  .main-content(role='main')
    .wrapper
      .one-col.content
        h1.page-title Support
        h2 What is crypto currencies? 
        p Cryptocurrencies first entered the digital scene in 2009, with Bitcoin as the first of its kind. During 2011, the second wave of new cryptocurrencies hit, with Namecoin and Litecoin.  Since then, over 530 cryptocurrencies have emerged.  Some of these currencies are agnostic to the consumer base, while there are specific cryptocurrencies that attract a specific demographic.  
        p Cryptocurrencies are currently understood and treated strictly as digital assets (virtual coin/currency) and not as fiat currency. However, there are a growing amount of merchants willing to accept coins as payment, which inevitably raises some interesting questions regarding the necessity and associated tastes involved in analyzing these kinds of currencies over traditional fiat currencies.
        p In Satoshi Nakamoto’s (founder of Bitcoin) paper, Bitcoin: A Peer-to-Peer Electronic Cash System, Satoshi outlines his reasoning for creating Bitcoin, which can briefly be summarized as providing a service that “…is an electronic payment system based on cryptographic proof instead of trust, allowing any two willing parties to transact directly with each other without the need for a trusted third party”.  
        p However, what was left out of his paper was the additional philosophic undertones promoting a kind of libertarian, democratic and anarchy-capitalistic philosophy. What is implied in the quote provided above is the end of the need for a digital third-party bank or PayPal system that facilitates and validates transactions. Satoshi’s notions of cryptocurrency directly promote the free flow of capital, as well as maintain the concept of relative anonymity in transactions. In this way, the notion of cryptocurrency, dissolves the need for the traditional trust based fiat currency, and instead supplements a form of currency that does not require additional transaction costs that are often associated with reversible and negotiable transactions.
        p As of November 2014, the total market value of all cryptocurrencies is $6.4bn, according to coinmarketcap.com.
        p Please read more about crypto currencies and the companies behind Swypto Exchange at www.lxccoin.com and www.strategabiz.com . 
        h2 How to buy/sell coins 
        p At the Swypto Exchange you can buy LXCCoins or sell them for euro or exchange you Bitcoins for LXCCoin.
        p LXCcoin is a coin with underlying value – all money going into the coin is invested in P2P lending giving a yearly interest up to 12% and thereby the LXCcoin will increase the underlying value of the coin. 
        p If you own some bitcoins and would like to sell them and get the asset backed LXCCoin this is what you need to do;<br />
          | - Create an account by signing up<br />
          | - Go to funds page, choose bitcoins and send them to the address displayed on the page<br />
          | - Once your bitcoins arrive in your Swypto Exchange Account, go to the trade page and click sell bitcoins for LXCCoin (XWBC) <br />
        p If you want to buy/invest in LXCCoins this is what you need to do: <br />
          | - Create an account by signing up<br />
          | - Go to funds page and follow the transfer information. <br />
          | - Once Swypty Exchange has received your deposit, you can go to the trade page and buy LXCCoin (XWBC). <br />
        p Once you have successfully bought coins you can sell or exchange these 24/7 at the Swypto Exchange. 
        p You can also purchase and read more about LXCCoin here (link til http://www.lxccoin.com/get-started/) 

        h2 How to buy LXCCoin 
        p Buy the LXCcoin – a cryptocoin with yearly growing underlying value  
        p The LXCCoin is a cryptocoin, unlike all other cryptocoins. It is covered by 100% cash base value, which is invested under agreement with a company in P2P lending, performing on average 12% annually. 
        p Thereby, it is a “real” currency in nominal terms, with a very real profitability and performance. Instead of investing huge resources in technology and adaptation, the coin supports the best functionality of other coins, aiming to become liquid towards the “transaction” coins (Bitcoin and the other developed transactional coins), becoming the best place to store cryptocoin values when not in use and becoming a “cryptobank” with safety and profits. To make this possible, the coin has had to sacrifice “mining”; the most popular feature of cryptocoins, to avoid a constant issue of more coins. Thus, the number of LXC’s is constant, and every issued coin has 100%+ coverage in the base asset value behind the coin.
        p The LXCCoin is based on the BitCoin source code, as most other cryptocurrencies. 
          | There are two main types of cryptocoins; “proof of work” coins, and “proof of stake” coins. The LXCCoin is a “Proof of Stake” coin. All the coins are issued, and there is only a minute issue of “mining” to secure the worldwide network. Coins are sold for cash or they can be exchanged for other cryptocoins. There is also a limited possibility to enter into the coin through sales of P2P loans in the P2P partner companies the LXC has approved, which has a high degree of security and years of stability and growth. Through these strict rules, the coin is secured in relation to the value of the base asset, and gives the base assets a great profitability (up to 12% per year). The base asset capital is invested throughout the markets, exposing the base asset value towards the strong Scandinavian currencies and the Euro, mitigating currency risk.
          | Please read here (link til http://www.lxccoin.com/get-started/ - som skal åbne I nyt vindue) how you can buy LXCCoin. After your purchase, you trade your LXCCoin on the Swypto Exchange.
        h2 Contact support  
        p Write to support@swypto.com 

