extends ../../layout
block content
  .main-content(role='main')
    .wrapper
      .one-col.content
        h1.page-title How to buy/sell coins ?
        p
          | At the Swypto Exchange you can buy LXCCoins or sell them for euro or exchange you Bitcoins for LXCCoin.
          | LXCcoin is a coin with underlying value – all money going into the coin is invested in P2P lending giving
          | a yearly interest up to 12% and thereby the LXCcoin will increase the underlying value of the coin.
        p
          | If you own some bitcoins and would like to sell them and get the asset backed LXCCoin this is what you need to do;
          ul
            li Create an account by signing up
            li Go to deposit page, choose bitcoins and send them to the address displayed on the page
            li Once your bitcoins arrive in your Swypto Exchange Account, go to the trade page and click sell bitcoins for LXCCoin (XWBC)
        p
          | If you want to buy/invest in LXCCoins this is what you need to do:
          ul
            li  Create an account by signing up
            li  Go to deposit page and follow the transfer information.
            li  Once Swypty Exchange has received your deposit, you can go to the trade page and buy LXCCoin (XWBC).
            li  Once you have successfully bought coins you can sell or exchange these 24/7 at the Swypto Exchange.
        p
          | You can also purchase and read more about LXCCoin #[a(href="www.lxccoin.com/get-started/") here].
