extends ../../layout

block content
  .main-content(role='main')
    .wrapper
      .one-col.content
        h2.page-title Trade LXCCoin and Bitcoins free for the next 90 days!
        p
          | Sign up at #[a(href="/signup") Swypto Exchange] and get free trading for the next 90 days.
          | Exchange your Bitcoins with LXCCoin and get underlying value and app. up to 12% interest per year.


        h2.page-title The LXCCoin is live
        p
          | The LXC cryptocoin is a digital currency, 100 % asset backed with approx. 12 % yearly performance giving the
          | cryptocoin stability, profitability and underlying value.
          | Read more in the LXCCoin guide #[a(href="www.lxccoin.com/guide/") here].

        h2.page-title StrategaBiz Announces Execution of Conditional Agreement to Purchase CryptoCorum and the cryptocurrency LXCcoin.
        p
          | On the first of March 2015, Strategabiz Inc. (SBGZ, OTCQB) signed a Share Exchange and Purchase Agreement to acquire 100% of CryptoCorum Ltd. Group.
          |  The CryptoCorum Ltd. Group consists of three companies, two in Malta and one in United Kingdom, owning the
          |  crypto coin LXCCoin (ticker: XWBC), a wallet solution and several strategic crypto currency technology
          |  platforms. The closing of the share exchange and purchase are conditional on the completion of the
          |  “Super” 8k, StrategaBiz satisfactory completion of its due diligence, regulatory and boards of director approvals.
          |  The estimated purchase price of approximately USD $40 million will be paid by the issuance of 10,500,000
          |  StrategaBiz common shares; which shares will be subject to a lock-up agreement for twelve months following the closing.
        p
          | CEO of StrategaBiz, Mr. Brian Palm Svaneeng Mertz, commented:
          blockquote
            |  “Spending the last 5 months researching the Bitcoin and the coin industry, I think that we have succeeded in
            | finding and making an agreement that can turn StrategaBiz into a growth company and to establish new disruptive
            | business areas. Crypto currencies might be the most promising investment opportunity of our age and it is
            | my belief that the crypto coin industry has potential to change several other industries. It is our vision
            | that StrategaBiz with the agreement made today will become a major player in the crypto coin industry”.

        p
          | CEO of the CryptoCorum Ltd. Group, Mr. Henrik Ellefsen, commented:
          blockquote
            | “We’re excited to be able to take this necessary step forward with one more serious level for crypto
            | currencies, of becoming a listed entity. We see the digital currency technology as a core for the future
            | of money transactions. We plan to build trust, full transparency, and develop the most solid cryptocurrency
            | technology in the world. We expect to join forces with many similar operations in the future, either together
            | or side-by-side; creating the framework for a new generation of borderless money on a worldwide scale.
            | A listed entity with broad support will make that possible”.
        h2 About StrategaBiz Inc.
        p
        | #[a(href="www.strategabiz.com") StrategaBiz] is a US smaller reporting public company that has most recently focused on
        | finding and vetting opportunities that will preserve and increase its present value.

        h2 About CryptoCorum Ltd. Group
        p
          | The #[a(href="www.lxccoin.com") LXCCoin] has a different business model from any other available crypto coin,
          | by digitalizing existing funds instead of creating empty digital currency units. Every circulated LXCCoin has
          | a   asset value and a yield mechanism behind it. All cash going into the LXCCoin base asset value is being
          | used for person to person (P2P) lending, earning interest and thereby increasing the value of the coin.
          | The yearly interest is expected to be up to 12%. All issued LXCCoins will be held in personal wallets
          | developed by CryptoCorum on a wallet platform.

        p
          | The company runs a network of transaction nodes to support speed and transact ability of the coin. There is
          | no “mining” which often incurs vast expenses in most known crypto currencies, but a “Proof of Stake” staking
          | system encouraging users to participate in the transaction network with any normal computer. Costing a
          | fraction of the transaction paradigm of Mining-based coins, this makes the coin economic and eco-friendly.
        p
          |To encourage the use of LXCCoins, the company is constructing its own coin ecosystem alone and with partners,
          | comprising P2P lending, mobile banking including: money transfers, online payments and other proprietary
          | solutions within gaming/entertainment industries that will ensure longevity and viability of the coin.

        p
          | Containing around 80% Bitcoin code, the coin can be used for all digital currency purposes like all other
          | crypto currencies; only with a much higher degree of stability as the coin price is supported by its
          | underlying fiat value and the controlled growth in that asset value.
        p
          | The LXCCoin can be traded on the #[a(href="www.swypto.exchange") Swypto Exchange] owned by CryptoCorum and which is
          | built on the software formerly powering the CoinNext crypto coin exchange. The coin is also expected to
          | become listed on other crypto currency exchanges, and will encourage and support third-party trading facilitation.






