- if (!user)
  .footer-cta
    h3.tagline Start trading today and <strong>pay no fees for 90 days</strong>!
    a(href='/signup').cta Get Started Now

footer
  .footer-body
    .wrapper
      .column
        h2 Resources
        ul
          li: a(href='/support') Support Center
          li: a(href='/api') API
          li: a(href='/status') Status
          li: a(href='http://www.lxccoin.com/faq/#toggle-id-1', target='_blank') What is Lxccoin
      .column
        h2 Policies
        ul
          li: a(href='/security') Security
          li: a(href='/legal/terms') Legal
          li: a(href='/fees') Fees   
          li: a(href='/legal/aml') AML Policy
      .column
        h2 About
        ul
          li: a(href='/about') About us
          li: a(href='/terms') Terms & Conditions
          li: a(href='/faq') FAQ 
      .column.logo
        img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Swypto").coinnext-logo
        .copyright Copyright © 2014 swypto Cryptocurrency Exchange. All rights reserved.
