extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li: a(href='/legal/terms') Terms of Service
          li: a(href='/legal/privacy') Privacy Policy
          li: a(href='/legal/cookie') About Cookies
          li.active: a(href='/legal/aml') AML Policy
      .col-main.content
        h1.page-title AML Policy 
        p
          | Swypto Exchange (owned by LXCCoin Ltd.) ANTI MONEY LAUNDERING ("AML") AND COUNTER TERRORIST FINANCING ("CTF") POLICY
          | Money laundering is defined as the process where the identity of the proceeds of crime are so disguised that it gives the appearance of legitimate income.
          | Criminals specifically target financial services
          | firms through which they attempt to launder criminal proceeds without the firm's knowledge or suspicions.
          | In response to the scale and effect of money laundering, the United Kingdom, in common with many other countries, has passed legislation
          | designed to prevent money laundering and to combat terrorism.
          | This legislation, together with regulations, rules and industry guidance, forms the cornerstone of AML/CTF obligations for UK firms and
          | outline the offences and penalties for failing to comply. Swypto Exchange are currently unregulated and do not fall with the scope of
          | the AML/CTF obligations in the UK but the company has decided to implement systems and procedures that meet the UK AML legislation.
          | Furthermore the company are in the process to acquire appropriate licenses in the US and UK.
        h3 The UK AML regime is set out in the following legislation and regulations:
        ul
         li
          h5 The Proceeds of Crime Act 2002 (POCA), as amended by the:
          ol
            li  Serious Organized Crime and Police Act 2005 (SOCPA); and the
            li  Proceeds of Crime Act (Amendment) Regulations 2007;
         li
          h5  The Terrorism Act 2000, as amended by the:
          ol
            li  Anti-Terrorism, Crime & Security Act 2001; and the
            li  Terrorism Act (Amendment) Regulations 2007;
        li
          h5  The Terrorism Act 2006;

        li
          h5  The Money Laundering Regulations 2007; and
        li
          h5  The Joint Money Laundering Steering Group (JMLSG) Guidance for the UK Financial Sector on the prevention
            |   of money laundering/combating terrorist financing.
        p
          strong ANTI-MONEY LAUNDERING (AML) POLICY:
          | Swypto Exchange (owned by LXCCoin Ltd.) AML Policy is designed to prevent money laundering by meeting the UK AML
          | legislation obligations including the need to have adequate systems and controls in place to mitigate the risk of the firm being used to facilitate
          | financial crime. This AML Policy sets out the minimum standards, which must be complied with and includes:
          ul
            li The appointment of a Money Laundering Reporting Officer (MLRO) who has sufficient level of seniority and independence and who has
            li responsibility for oversight of compliance with relevant legislation, regulations, rules and industry guidance.
            li Establishing and maintaining a Risk Based Approach (RBA) towards assessing and managing the money laundering and terrorist financing risks to the company.
            li Establishing and maintaining risk-based customer due diligence, identification, verification and know your customer (KYC) procedures,
            li including enhanced due diligence for those customers presenting higher risk, such as Politically Exposed Persons (PEPs).
            li Establishing and maintaining risk based systems and procedures to monitor on-going customer activity.
            li Procedures for reporting suspicious activity internally and to the relevant law enforcement authorities as appropriate.
        p
          strong Sanctions policy:
          | Swypto Exchange is prohibited from transacting with individuals, companies and countries
          | that are on prescribed Sanctions lists. Swypto Exchange will therefore screen against United Nations,
          | European Union, UK Treasury and US Office of Foreign Assets Control (OFAC) sanctions lists in all
          | jurisdictions in which we operate.

