extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .one-col.content
        h1.page-title FAQ
            
            h2 What are LXCCoins?
            p
                LXCCoin (also referred to as XWBC - Worlds Best Coin) is a digital currency, revolutionizing the entire crypto currency world by becoming the first digital currency which is 100% asset backed.
            
            h2 What are LXCCoins?
            p
                LXCCoin (also referred to as XWBC - Worlds Best Coin) is a digital currency, revolutionizing the entire crypto currency world by becoming the first digital currency which is 100% asset backed. 
