extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .one-col.content
        h1.page-title About Swypto Exchange
        p
          | Swypto Exchange is a professional facilitator in the global crypto currency markets and are able to offer low trading fees and high volume to crypto currency traders.
          | Swypto Exchange is owned by  #[a(href="www.lxccoin.com") LXCCoin Ltd.], founded in 2014 and is a transparent crypto currency exchange working globally in a secure and professional environment. LXCCoin Ltd. is a UK registered company and a part of the NXChain Inc. group listed on OTC QB in New York.

        h1.page-title Offices:
        h2 United Kingdom
        p.address
          | LXCCoin Ltd       
          | 9 Cambrian Terrace
          | Gwynedd LL51 9RX
          | United Kingdom
        h2 USA
        p.address
          | NXChain Inc.
          | 11753 Willard Avenue
          | Tustin, CA 92782
          | USA
        p Please contact our support for any inquires #[a(href="mailto:support@swypto.com") support@swypto.com ]

