extends ../../layout

block content
  .main-content(role='main')
    .wrapper
      .one-col.content
        h1.page-title Buy the LXCcoin – a cryptocoin with yearly growing underlying value
        p
          | The LXCCoin is a cryptocoin, unlike all other cryptocoins. It is covered by 100% cash base value, which is
          | invested under agreement with a company in P2P lending, performing on average 12% annually.
          | Thereby, it is a “real” currency in nominal terms, with a very real profitability and performance.
          | Instead of investing huge resources in technology and adaptation, the coin supports the best functionality of
          | other coins, aiming to become liquid towards the “transaction” coins (Bitcoin and the other developed
          | transactional coins), becoming the best place to store cryptocoin values when not in use and becoming
          | a “cryptobank” with safety and profits. To make this possible, the coin has had to sacrifice “mining”;
          | the most popular feature of cryptocoins, to avoid a constant issue of more coins.
          | Thus, the number of LXC’s is constant, and every issued coin has 100%+ coverage in the base asset value
          | behind the coin.

        p
          | The LXCCoin is based on the BitCoin source code, as most other cryptocurrencies.
          | There are two main types of cryptocoins; “proof of work” coins, and “proof of stake” coins. The LXCCoin is a
          | “Proof of Stake” coin. All the coins are issued, and there is only a minute issue of “mining” to secure the
          | worldwide network. Coins are sold for cash or they can be exchanged for other cryptocoins. There is also a limited
          | possibility to enter into the coin through sales of P2P loans in the P2P partner companies the LXC has approved,
          | which has a high degree of security and years of stability and growth. Through these strict rules,
          | the coin is secured in relation to the value of the base asset, and gives the base assets a
          | great profitability (up to 12% per year). The base asset capital is invested throughout the markets,
          | exposing the base asset value towards the strong Scandinavian currencies and the Euro, mitigating currency risk.
        p
          | Please read #[a(href="www.lxccoin.com/get-started/") here] how you can buy LXCCoin. After your purchase,
          | you trade your LXCCoin on the Swypto Exchange.

          | You can also purchase and read more about LXCCoin .


