- if (!user &&page==="home")
  .footer-cta
    h3.tagline Start trading today and pay no fees for 90 days!
    br
    a(href='/signup').cta Get Started Now

footer
  .footer-body
    .wrapper
      .column.text_center
        img(src="/img/foot_logo.png")
      .column
        h2 ABOUT
        ul
          li: a(href="/about") About Swypto Exchange
          li: a(href="/fees") Fee Schedule
          li: a(href="/api") API
          li: a(href="/legal/terms") Terms & Conditions
          li: a(href="/legal/privacy") Privacy Policy
          li: a(href='/legal/aml') AML
      .column
        h2 Support
        ul
          li: a(href='/support/cryptocurrencies') What are crypto currencies?
          li: a(href='/support/how-to') How to buy/sell coins
          li: a(href='/support/buy-lxccoin') How to buy LXCCoin
          li: a(href='/support/transfer-funds') Transfer Funds
          li: a(href='/support/faq') FAQ
          li: a(href='/support/contact-support') Contact support
          li: a(href='/status') Status
      .column
        h2 Community
        ul
          li: a(href='/community/news') News
          li: a(href='http://www.lxccoin.com/blog-2/') Blog

                    
        //.copyright Copyright © 2014 swypto Cryptocurrency Exchange. All rights reserved.
      .column.top_marg
        ul
          li.social: a(href='https://www.facebook.com/lxccoin')
            img(src="/img/facebook.png", alt="facebook").social_icon 
          li.social: a(href='https://plus.google.com/105485014852561325785/posts')
            img(src="/img/gplus.png", alt="Fast Support").social_icon 
          //li.social: a(href='#')
          //  img(src="/img/pin.png", alt="Fast Support").social_icon
          li.social: a(href='https://twitter.com/swypto')
            img(src="/img/twitt.png", alt="Fast Support").social_icon
          li.social: a(href='https://www.youtube.com/channel/UCEFauqb0glz5gT-HMO8BrMA')
            img(src="/img/you.png", alt="Fast Support").social_icon 
                      
                    