- if (user && !user.canTrade())
  .alert.warning
    if (!user.emailVerified())
      p 
        | Before we enable trading on your account, we need to verify your email address. <br /> Please click the verification link we have sent to the email address you used to create your account. <br /> If you did not receive a verification link or the link expired, click <a href="/resend" id="resend-verification-link">here</a> to resend the email.
      p
        | You also need to fill out the required fields on your profile.
    else
      p
        | Before we enable trading on your account you need to fill out the required fields on your profile. Click <a href="/settings/profile/edit" id="resend-verification-link">here</a> to edit profile information.
//.alert.warning
//    p 
//      | Now open for trading<br />
 